{% extends 'coffeshop/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
                <div class="row frame-bar">
                     <div class="col-sm-2 frame-item"></div>
                     <div class="col-sm-2 frame-item">Name</div>
                     <div class="col-sm-4 frame-item">Description</div>
                     <div class="col-sm-2 frame-item"> Provider</div>
                     <div class="col-sm-2 frame-item">Price [S/M/L]</div>
                </div>
            {% for offer in offers%}
                <div class="row frame">
                     <div class="col-sm-2 frame-item frame-img">[IMG]</div>
                     <div class="col-sm-2 frame-item">{{ offer.name }}</div>
                     <div class="col-sm-4 frame-item">{{ offer.description }}</div>
                     <div class="col-sm-2 frame-item">{{ offer.provider.name }}</div>
                     <div class="col-sm-2 frame-item">{{ offer.price_S}}$/ {{ offer.price_M}}$/ {{ offer.price_L}}$</div>
                </div>
            {% endfor %}

        </div>

    {% else %}
        <h4 class="greeting">Please <a class="" href="{% url 'home' %}">log in</a> to browse the providers</h4>
    {% endif %}
{% endblock content %}